button,
.button {
  color: white;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: block;
  background: $cyan;
  min-width: 100px;
  min-height: 38px;
  line-height: 38px;
  border: none;
  border-radius: 40px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  @include mQ($lg) {
    transition: .3s;
    &:hover {
      background: hsl(180, 96%, 49%);
    }
  }
}
